.form {
  padding: 24px;
}

.control {
  margin-bottom: 18px;
}

.control label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
}

h5 {
  margin-top: 36px;
  font-size: 28px;
}

.formSecondary {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  justify-content: space-between;
  margin-top: 24px;
}

.controlHelper {
  margin-bottom: 18px;
}

.controlHelper label {
  display: block;
  font-weight: 500;
  margin-bottom: 6px;
}

.controlHelper input {
  display: block;
  font: inherit;
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
}

.actions {
  margin-top: 40px;
}

.actions button {
  font: inherit;
  cursor: pointer;
  border: 3px solid #1d1d1b;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #ffffff;
}
