.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 96px;
  /* padding: 0 32px; */
  max-width: 1200px;
  margin: 32px auto;
  padding: 0 32px;
}

.logo {
  font-size: 38px;
  font-weight: bold;
}

.header ul {
  display: flex;
  list-style: none;
  font-size: 22px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.header li {
  margin: 16px;
  padding: 8px 16px;
}

.header li:last-child {
  margin-right: 0px;
}

.header a {
  text-decoration: none;
  color: #1d1d1d;
}
