input {
  padding: 16px 32px;
  border-radius: 100px;
  border: none;
  font-size: 16px;
  background-color: #ebebeb;
}

@media (max-width: 999px) {
  input {
    width: 0px;
    padding: 16px 25.25px;
  }
}
